* {
  background-color: #82fc08;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#dj-randalls-tribute-form {
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  border-radius: 20px;
  border: solid blue 5px;
  text-align: center;
}

@media (min-width: 600px) {
  .main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

@media (min-width: 800px) {
  .main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
